<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="port" value="37181" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target layout="${longdate} ${level:uppercase=true:padding=-5} - ${message} ${exception:format=tostring}"
              name="console" xsi:type="Console" />
      <target archiveEvery="Day" archiveFileName="${basedir}/logs/PerfectXL.VbaCodeAnalyzer.Host.{#}.log"
              archiveNumbering="Rolling" fileName="${basedir}/logs/PerfectXL.VbaCodeAnalyzer.Host.log"
              layout="${longdate} ${level:uppercase=true:padding=-5} - ${message} ${exception:format=tostring}"
              name="file" xsi:type="File" />
    </targets>
    <rules>
      <logger minlevel="Trace" name="*" writeTo="console,file" />
    </rules>
  </nlog>
</configuration>